*{
    box-sizing: border-box;
}

.container{
    max-width: 50%;
}

html{
    height: 100%;
}

header{
    background-color: aqua;
    text-align: center;
}

.wrapper{
    display: flex;
    flex-direction: row;
    height: 1000px;
}

.first-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.hero{
    background-color: antiquewhite;
    flex: 1 0 40%;
}
.sidebar{
    background-color: green;
    flex: 2 0 60%;
}

.second-container{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.main{
    background-color: yellow;
    flex: 2 0 60%;
}

.extra{
    background-color: brown;
    flex: 1 0 40%;
}


.third-container{
    display: flex;
    flex-direction: row;
}

.related-images{
    background-color: goldenrod;
    flex: 2 0 70%;
}

.related-posts{
    background-color: blue;
    flex: 2 0 30%;
}

footer{
    background-color: orange;
    text-align: center;
}