body{
    margin: 5px;
}

.container{
    width: 80%;
    background-color: beige;
    margin: 0 auto;
}


.container div{
    width: 200px;
    height: 200px;
    margin: 10px auto;
     vertical-align: middle;
}

h2{
    text-align: center;
    margin: 0 auto;
    line-height: 200px;
}


.container div:nth-child(1){
    background: red;
}
.container div:nth-child(2){
    background: blue;
}
.container div:nth-child(3){
    background: green;
}
.container div:nth-child(4){
    background: yellow;
}