nav{
    background-color: $primaryBackgroundColor;
    
    .nav-item{
        margin: 0 28px; 
    }

    .nav-button{
        background-color: $ctaButtonColor;
        border-radius: 10px;
        font-family: $primaryFontFamily;
        color: $buttonTextColor;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal; 
    }

    .nav-link{
        color: $navBarMenuItemColor;
        font-family: $primaryFontFamily;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal; 
    }
}