// primary options
$primaryFontFamily: 'Poppins';
$buttonTextColor: #FFF;
$primaryTextColor: #000;
$primaryBackgroundColor: #F9E0AE;
$ctaButtonColor: #C24914;

// navbar
$navBarMenuItemColor: #000;

// header
$headerBtnColor: #682C0E;